/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"); */
/* Hading */
* {
  background-color: #112744;
}

#main-heading {
  text-align: center;
  margin-top: 60px;
}
#main-heading h3 {
  color: #1db0ff;
}

#main-heading h1 {
  color: white;
}

#main-heading p {
  color: white;
}
/* section what we do*/
#what .items {
  display: flex;
  margin-top: 70px;
  font-weight: 900px;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
  color: white;
}

#what .items .item i {
  background: #173a5f;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
}
